th {
    text-align: center;
}

.form-group>div>input[type="text"] {
    width: 100%;
}

.modal-body>.form-group {
    width: 100%;
}

.inline-cell {
    display: inline-flex;
    margin: auto;
    border: none!important;
}

.onhover {
    display: none;
}

tr:hover>td>.onhover {
    display: block !important;
}